body{
    background-color: aqua;
    text-align: center;
   
}
div{
    background-color: aliceblue; 
    text-align: center;
  /*  margin-right: 500px;
    margin-left:500px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
}
input{
    color: black;
    background-color:white;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom:10px ;
    margin-top: 10px;
    cursor:auto;
    
}
button{
    padding: 10px;
    margin-bottom: 10px;
}