body{
    background-image: url(ball.jpg);
    border: 2px solid black;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    
}
.container{
    font-size: x-large;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    
    

    
}
#score1{
    border: 2px;
    background-color:red;
    text-align: center;
}
#score2{
    border: 2px;
    background-color:red;
    text-align: center;
}
#home{
    text-align: center;
}
#away{
    text-align: center;
}
.ok{
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   background-color:black;

    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 10px;

}
.ok1{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color:black;

    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#reset{
    font-size: larger;
    background-color: green;
    text-align:center;
}
p{
    font-size: x-large;
    color: aliceblue;
    font-style: inherit;
}